go 1.26.1

use (
	.
	./http
	./serialization/cbor
	./extensions/cluster/aws
	./extensions/cluster/consul
	./extensions/cluster/k8s
	./extensions/persistence/cassandra
	./extensions/persistence/redis
	./extensions/persistence/spanner
	./extensions/stream/amqp
	./extensions/stream/kafka
	./extensions/stream/kinesis
	./extensions/stream/s3
	./extensions/stream/sqs
	./extensions/telemetry/otel
	./test/bench
	./test/compat-bin
)
