go 1.26.1

use (
	.
	./cmd
	./extensions/cluster/aws
	./extensions/cluster/consul
	./extensions/cluster/k8s
	./extensions/persistence/cassandra
	./extensions/persistence/redis
	./extensions/persistence/spanner
	./extensions/telemetry/otel
	./test/bench
)
